body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #f15dd3;
}
#container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}
form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.instructions {
  padding: 16px;
  border: 1px solid #f15dd3;

  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submitbutton {
  margin-left: 10px;
  background: #f15dd3;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
}
main {
  margin-bottom: 30px;
}
.poem {
  font-size: 18px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  font-weight: 400;
  border-left: 3px solid #f15dd3;

  border-radius: 10px;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}
